node_modules/
dist/
target/
artifacts/
.vscode/
.codex/
.tauri/
*.key
*.key.pub
.DS_Store
src-tauri/target/
src-tauri/binaries/*.exe
src-tauri/binaries/GeoIP.dat
src-tauri/binaries/GeoSite.dat
!src-tauri/binaries/README.md
